/* 
    Перехватываем стили оригинальног осайта
*/

/* Убираем привязку к высоте, чтобы энгравы без пагинации не наезжали на нижние блоки */
.profile-ability-engrave {
    height: auto !important;
}

/* Развигаем экипировку */
.profile-equipment__slot .slot1,
.profile-equipment__slot .slot2,
.profile-equipment__slot .slot3,
.profile-equipment__slot .slot4,
.profile-equipment__slot .slot5,
.profile-equipment__slot .slot6,
.profile-equipment__slot .slot14,
.profile-equipment__slot .slot15 {
    left: 5px !important;
}

.profile-equipment__slot .slot7,
.profile-equipment__slot .slot8,
.profile-equipment__slot .slot9,
.profile-equipment__slot .slot10,
.profile-equipment__slot .slot11,
.profile-equipment__slot .slot12,
.profile-equipment__slot .slot13 {
    left: 555px !important;
}

/* Сдвигаем аватар персонажа */
.profile-equipment__slot__character-override {
    justify-content: right !important;
    padding-right: 30px !important;
}
