
/* 
    Перехватываем стили оригинальног осайта
*/

/* Убираем привязку к высоте, чтобы энгравы без пагинации не наезжали на нижние блоки */
.profile-ability-engrave {
    height: auto !important;
}

/* Развигаем экипировку */
.slot1, .slot2, .slot3, .slot4, .slot5, .slot6, .slot14, .slot15{
    left: 5px !important;
}

.slot7, .slot8, .slot9, .slot10, .slot11, .slot12, .slot13{
    left: 555px !important;
}

/* Сдвигаем аватар персонажа */
.profile-equipment__character-override {
    justify-content: right !important;
    padding-right: 30px !important;
}

/* Выносим на передний план экипировку, изобрание было выше его */
.profile-equipment__slot {
    z-index: 5 !important;
}